<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>will</title>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="will,willhappy"/>
    <meta name="description" content="will,90后，天蝎座普通男青年！为梦想而生"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="author" content="will"/>
    <meta name="version" content="1.0.0"/>
    <link rel="apple-touch-icon-precomposed" href="img/luuman.png"/>
    <link rel="shortcut icon" type="image/ico" href="img/favicon.png"/>

    <link rel="stylesheet" href="css/global.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!-- <link rel="stylesheet" href="css/style.css"/> -->

    <!-- 低版本跳转 -->
    <!--[if lt IE 10]>
    <script></script>
    <![endif]-->
</head>
<body>
<div id="v4-pre-loaded">
    <div class="loading"></div>
</div>
<img src="img/logo-search.jpg" alt="will" style="visibility:hidden;position: absolute;top: 0;left: 0;"/>
<a class="music-wrap" id="smohan-v4-music" rel="title-tip" data-music-src="music/Delacey - Dream It Possible.mp3"
   data-music-flag="Y" title="Delacey - Dream It Possible">
    <img src="music/Asher Book - Try.jpg" alt="音乐播放器"/>
    <span class="switch"><i></i>
        </span>
</a>
<a class="u-menu-btn" title="导航" rel="title-tip">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</a>
<div class="nav-mask">&nbsp;</div>
<nav id="navgation">
    <div class="nav-wrapper">
        <ul class="nav">
            <li>
                <a href="http://blog.willhappy.cn/">博客</a>
            </li>
            <li>
                <a href="http://github.com/williamhappy">作品</a>
            </li>
            <li>
                <a href="">履历</a>
            </li>
            <li>
                <a href="">留言</a>
            </li>
            <li>
                <a href="">wmap</a>
            </li>
        </ul>
        <!--<span class="logo"></span>-->
    </div>
</nav>
<article id="smohan-v4-container">
    <section class="page1">

        <div class="banner-canvas" style="position: absolute; z-index: 1;top: 0;left:0;">
            <canvas id="sky"></canvas>
        </div>
        <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/canvas/bootstrap.min.js"></script>
        <script src="js/canvas/sky.js"></script>
        <div class="grid-auto-wrapper page-init">
            <div class="inner tans">
                <h1>1994，最简单的will</h1>
                <h3>The world never lets you think of it</h3>
                <div class="m-driver">
                    <div class="inner">
                        <span class="logo"></span>
                        <a href="http://blog.willhappy.cn/" class="button" name="will的博客">进入博客</a>
                    </div>
                </div>
            </div>
            <a class="next-page" id="next-page-for-init"></a>
        </div>
    </section>
    <section class="page2">
        <div class="grid-auto-wrapper">
            <div class="article-wrap">
                <div class="m-phone shadow"></div>
                <div class="m-phone blog">
                    <header>Latest Posts</header>
                    <div class="post-cover f-img-light-wrap">
                        <a href="http://blog.willhappy.cn">
                            <img src="img/1452153380.png" alt="2018，新年快乐！"/>
                        </a>
                    </div>
                    <div class="post-item">
                        <ul>
                            <li>
                                <a href="http://blog.willhappy.cn" title="personal website" class="f-toe"
                                   rel="title-tip">personal website</a>
                            </li>

                        </ul>
                    </div>
                    <a class="button" href="http://blog.willhappy.cn">进入博客</a>
                </div>
            </div>
            <div class="about-wrap">
                <div class="inner">
                    <div class="m-about">
                        <h1>关于willhappy</h1>
                        <p>
                            90后，天蝎座普通男青年，毕业于湖北一所普通大学的计算机专业。
                            <br/>
                            world 不会因你而变， 你要做的是重新认识世界， 重新发现自己.
                            <br/> 'Hello, World!'
                        </p>
                    </div>
                    <div class="m-time">
                        <div class="m-time-run" id="smohan-build-time">
                            <div class="line left"></div>
                            <div class="line right"></div>
                            <span>
                                    <i>15</i>
                                </span>
                            <span>
                                    <i>12</i>
                                </span>
                            <span>
                                    <i>21</i>
                                </span>
                            <span>
                                    <i>9</i>
                                </span>
                            <span>
                                    <i>00</i>
                                </span>
                            <span>
                                    <i>11</i>
                                </span>
                        </div>
                        <div class="m-time-run txt">
                            <span>年</span>
                            <span>个月</span>
                            <span>天</span>
                            <span>小时</span>
                            <span>分钟</span>
                            <span>秒</span>
                        </div>
                        <div class="m-time-start">从2016年06月07日8:00开始</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page3">
        <div class="grid-auto-wrapper">
            <div class="m-works-wrap">
                <div class="m-text">
                    <div class="inner">
                        <h1>不忘 · 初心</h1>
                        <p>攻城狮努力设计出最大最好的连白痴都会使用的程序；而宇宙在拼命制造最大最好的白痴。</p>
                        <p>到目前为止，宇宙是胜利者。—— Rick Cook</p>
                        <a href="http://blog.willhappy.cn" class="button">pass</a>
                    </div>
                </div>
                <div class="m-driver">
                    <div class="m-phone shadow"></div>
                    <div class="m-phone works">
                        <header>Latest Works</header>
                        <div class="post-cover f-img-light-wrap">
                            <a href="http://blog.willhappy.cn">
                                <img src="img/blog_index.png" alt="beautiful"/>
                            </a>
                        </div>
                        <div class="post-item">
                            <ul>
                                <li>
                                    <a href="http://blog.willhappy.cn" title="app" class="f-toe"
                                       rel="title-tip">app</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page4">
        <div class="grid-auto-wrapper">
            <div class="m-contact-wrap">
                <div class="m-driver">
                    <div class="inner">
                        <ul>
                            <li>
                                <a href="http://weibo.com/williamhappy" title="关注will的新浪微博">
                                    <i class="u-icon icon-weibo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=583876674&amp;site=qq&amp;menu=yes"
                                   title="QQ交谈">
                                    <i class="u-icon icon-qq"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/willhappy" title="GitHub">
                                    <i class="u-icon icon-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-contact">
                    <div class="txt">
                        <p>
                            联系QQ：
                            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=583876674&amp;site=qq&amp;menu=yes">583876674</a>
                        </p>
                        <p>
                            唯一网址：
                            <a href="http://www.willhappy.cn/">http://www.willhappy.cn/</a>
                        </p>
                        <p>
                            新浪微博：
                            <a href="http://weibo.com/williamhappy">http://weibo.com/williamhappy</a>
                        </p>
                        <p>
                            电子邮箱：
                            <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=PAkNDgsKBQ4MCnxNTRJfU1E">583876674#qq.com</a>
                            或
                            <a href="mailto:ctwang1994@163.com">ctwang1994#163.com</a>
                            (#换为@)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page5">
        <div class="grid-auto-wrapper">
            <div class="m-link-wrap">
                <div class="inner">
                    <div class="u-qr-code"></div>
                    <div class="links">
                        <ul>
                            <li>
                                <a href="http://imtianx.cn/" title="imtianx's Blog" rel="title-tip" class="f-toe">imtianx's
                                    Blog</a>
                            </li>
                            <li>
                                <a href="http://blog.wangxdog.cn" title="zsir's Blog" rel="title-tip" class="f-toe">zsir's
                                    Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright">
                         Copyright © 2012-2016 Luuman. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<script src="js/jquery.js"></script>
<script src="js/luuman.scrollPage.min.js"></script>
<script src="js/index.min.js"></script>
<!--     <div style="display: none;">
<script src="js/z_stat.php" language="JavaScript"></script>
</div>
-->
</body>
</html>